

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}


.tooltip_020202{
	box-sizing: border-box;
	background-color: #FFFFFF;
	position: absolute;
	line-height: 1;
	font: 12px 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 4px;
	border: 0.5px solid #666;
	color: #000000;
}

.legend_020202{
	font: 12px 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;

}


text#020202_title{
  font-family: 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

text#020202_forras{
  font-family: 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: italic;	

}