
.axis_040601 {
    font: 10px "Neue Haas Grotesk W01 Disp", Helvetica, Arial, sans-serif; 
}


.axis_040601 path,
.axis_040601 line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis_040601 path {
    display: none;
}

svg {
  display: block;
  margin: auto;
}

.line_040601 {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

#vis-040601 {
  width: 100%;
  height: 500px;
}

text#idosor_forras{
	font: 12px 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
	  font-weight: normal;
  font-style: italic;
  text-decoration: underline;	

}

text#idosor_title{
  font: 14px 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
  font-weight: normal;
}